@keyframes gradient {

  0%,
  100% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes gradient-slow {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes gradient-bg {
  0% {
    transform: translate(0, 0) scale(1.05);
  }

  25% {
    transform: translate(10px, 20px) scale(1.05);
  }

  75% {
    transform: translate(20px, 10px) scale(1.05);
  }

  100% {
    transform: translate(0, 0) scale(1.05);
  }
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

.animate-gradient {
  animation: gradient 8s ease-in-out infinite;
}

.animate-gradient-slow {
  animation: gradient-slow 15s ease-in-out infinite;
}

.animate-gradient-bg {
  animation: gradient-bg 15s ease-in-out infinite;
}

.animate-twinkle {
  animation: twinkle 3s ease-in-out infinite;
}
