@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@import "tailwindcss";

@import "./styles/animation.css";

@import "./styles/utilities.css";
@import "./styles/components.css";
@import "./styles/base.css";

@theme {
  --color-primary1-1: #20104A;
  --color-primary1-2: #130830;
  --color-primary1-3: #0B041D;

  --color-primary2-1: #8A00FF;
  --color-primary2-2: #56049C;
  --color-primary2-3: #34045D;

  --color-primary3-1: #D057DE;
  --color-primary3-2: #9219A0;
  --color-primary3-3: #560065;
}
